<div class="mt-4">
  <div class="d-flex justify-content-between mb-3">
    <h3>My Apartments</h3>
    <a routerLink="/user/apartments/new" class="btn btn-dark">Add Apartment</a>
  </div>

  <pre  class="pt-1 text-danger" *ngIf="error">{{error}}</pre>
  <ul *ngFor="let apartment of apartments" class="list-unstyled list-group">
    <li class="card">
      <div class="row">
        <div class="col-md-3">
          <img *ngIf="!apartment.photoUrl" src="https://via.placeholder.com/350x200" class="card-img-top"
               alt="Apartment Image">
          <img *ngIf="apartment.photoUrl" src="{{apartment?.photoUrl}}" class="card-img-top" alt="Apartment Image">
        </div>
        <div class="col-md-3">
          <div class="card-body">
            <a routerLink="/user/apartments/{{apartment.id}}" class="text-decoration-none text-dark">
              <h5 class="card-title">{{apartment.title}}</h5>
            </a>
            <p class="card-text">{{apartment.description}}</p>
            <p class="card-text">{{apartment.location}}</p>
          </div>
        </div>
        <div class="col-md-6">
          <div class="card-body d-flex justify-content-end">
            <a routerLink="/user/apartments/{{apartment.id}}/update" class="btn btn-outline-dark me-2">Update</a>
            <button type="button" class="btn btn-outline-danger" (click)="delete(apartment.id)">Delete</button>
          </div>
        </div>
      </div>
    </li>
  </ul>
</div>


