<div class="container-fluid" >
  <div class="row">
    <div class="p-0 col-md-3">
      <nav class="nav flex-column bg-dark" aria-orientation="vertical">
        <a class="nav-link text-white" routerLink="/user/profile">Profile</a>
        <a class="nav-link text-white" routerLink="/user/apartments">Apartments</a>
        <a class="nav-link text-white" routerLink="/user/bookings">Bookings</a>
      </nav>
    </div>
    <div class="col-md-9">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>



