<div class="card">
  <div class="row">
    <div class="col-md-4">
      <img *ngIf="!apartment.photoUrl" src="https://via.placeholder.com/350x200" class="card-img-top"
           alt="Apartment Image">
      <img *ngIf="apartment.photoUrl" src="{{apartment.photoUrl}}" class="card-img-top" alt="Apartment Image">
    </div>
    <div class="col-md-4">
      <div class="card-body">
        <h5 class="card-title">
          <a routerLink="/apartments/{{apartment.id}}" class="text-decoration-none text-dark">{{apartment.title}}</a>
        </h5>
        <p class="card-text">{{apartment.pricePerDay}}</p>
        <p class="card-text">{{apartment.city}}</p>
      </div>
    </div>
  </div>
</div>
